.tools-nav-container {
  width: 100%;
  height: 100vh;
}

.tools-nav-container-inner {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tool {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "open sans";
  font-weight: bold;
  font-size: 36px;
  line-height: 132.5%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #757575;
  margin: 20px;
}

.tool:hover {
  color: #000000;
  transition: 1s;
}

.selected {
  color: #0336ff;
}

.selected:hover {
  color: #0336ff;
}
